.user-hero {
  height: 130px;
  margin-top: 80px !important;
}
.btn-function {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  border: none;
  line-height: 20px;
}
.btn-function:hover {
  color: #dcf836;
}
.user-hero .hero-ct {
  padding-top: 20px !important;
}
.user-hero .hero-ct h1 {
  display: flex;
  justify-content: start;
  padding-left: 25.5%;
  margin: 0 !important;
}
.page-single {
  margin-bottom: -1200px !important;
}
.user-information {
  margin-top: -100px;
}
.form-it input[type="email"][disabled] {
  background: #032055;
}
.user-img {
  display: flex;
  flex-direction: column;
}
.fail {
  color: red !important;
  margin-top: 5px !important;
}
