.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .level1>.level1>.level2 {
  display: none;
}

.dropdown:hover .level1>.level1:hover>.level2 {
  display: block;
}

header {
  position: unset !important;
}

.container {
  height: 100px !important;
}

.navbar-custom {
  margin-top: -12px !important;
}