.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .level1 > .level1 > .level2 {
  display: none;
}

.dropdown:hover .level1 > .level1:hover > .level2 {
  display: block;
}

header {
  position: unset !important;
}
.btn-auth {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
}
.btn-auth:hover {
  color: #dcf836;
}
