.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .level1 > .level1 > .level2 {
  display: none;
}

.dropdown:hover .level1 > .level1:hover > .level2 {
  display: block;
}

header {
  position: unset !important;
  margin-bottom: 100px;
}

.navbar-custom {
  margin-top: -10px !important;
}

.navbar {
  overflow: hidden !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  z-index: 99 !important;
  background: #001232 !important;
}

.logo {
  margin-left: 20px;
}

header .navbar-default {
  padding: 25px 0 15px 0 !important;
}
.btn-auth {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #f4f4f4 !important;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #dd003f !important;
  padding: 0 25px;
  transition: all 0.3s ease;
}
.btn-auth:hover {
  color: #dcf836;
}
.navbar .menu-right {
  margin-right: 3%;
}
.loginLink {
  margin-right: 20px;
}
.My-custom .logo img {
  height: 58px;
  transition: all 0.3s ease;
}
.My-custom.scroll {
  padding: 15px 0 5px 0 !important;
}
.My-custom.scroll .logo img {
  height: 40px;
}
.My-custom.scroll .collapse .menu-right .btn-auth {
  height: 40px;
}
