.containerdialog {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: inherit;
}

.bookingscreen {
    background-color: #020d18;
    justify-content: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    width: 100%;
    height: 150%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #032055;
    border-bottom: 1px solid #032055;
}

.day {
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    background-color: #31d7a9;
    height: 60%;
}

.month p {
    color: white;
    font-weight: bold;
}

.texture {
    text-align: center;
    line-height: 30px;
    font-size: 100%;
    color: white;
    font-weight: bold;
}

.btncalendar {
    width: 85px !important;
    border-radius: 10px;
    margin-left: 0rem 0.3rem 0 0.3rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 50px;
    border: 2px solid #032055;
    background: none;
}

.theater-cluster {
    width: 100%;
    height: 7rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #032055;
    padding-left: 34px;
}

.btncinema-complex {
    background: none;
    border-radius: 10px;
    border: 2px solid #032055;
    justify-content: center;
    padding: 10px;
    width: 20%;
    height: 50%;
    margin-left: 1rem;
}

.movie-genre {
    height: 100px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    border-bottom: 1px solid #032055;
    padding-left: 34px;
    margin-bottom: 1.5rem;
}

.btncategory {
    background: none;
    z-index: 2px;
    border-radius: 10px;
    height: 60%;
    width: 20%;
    justify-content: center;
    margin-left: 1rem;
    border: 2px solid #032055;
    font-weight: bold;
    margin-bottom: 1rem;
}

.time {
    width: 100%;
    justify-content: center;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #032055;
    padding-left: 34px;
}

.item {
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.list-time {
    height: 80px;
    display: flex;
    justify-content: left;
}

.theater-name {
    font-size: 1.5rem;
}

.showtime {
    background: none;
    width: 80%;
    border: 2px solid #032055;
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    border-radius: 10px;
}

.showtime p {
    font-weight: bold;
    color: white;
}

.close-dialog {
    border: 0;
    border-radius: 0 0 50% 50% !important;
    width: 30px !important;
    height: 30px;
    margin-top: 0rem;
    margin-left: 95%;
    padding: 5px !important;
}

.proceed-dialog {
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    width: 200px;
    margin-left: 70%;
    margin-bottom: 2%;
}

.btncalendar:hover, .btncinema-complex:hover, .btncategory:hover, .showtime:hover {
    background: #31d7a9;
}

.btncalendar:hover .day {
    background: #020d18;
}

.changeColorBackground {
    background-color: #31d7a9;
}