.containerdialog {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: inherit;
}

.bookingscreen {
    background-color: #032055;
    justify-content: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    width: 90%;
    height: 150%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background: #001232;
}

.day {
    background-color: #032055;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    width: 120%;
    height: 60%;
}

.month p {
    font-size: 100%;
    color: white;
    font-weight: bold;
}

.texture {
    text-align: center;
    font-size: 160%;
    color: white;
    font-weight: bold;
}

.btncalendar {
    width: 12%;
    background: none;
    border-radius: 1rem;
    padding: 0rem 1rem;
    margin-left: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #000;
}

.theater-cluster {
    width: 90%;
    height: 7rem;
    background: #001232;
    justify-content: center;
    margin: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
}

.btncinema-complex {
    background: none;
    border-radius: 1rem;
    border: 1px solid #000;
    justify-content: center;
    width: 9%;
    height: 50%;
    margin-left: 1rem;
}

.movie-genre {
    height: 100px;
    width: 90%;
    background: #001232;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
}

.btncategory {
    background: none;
    z-index: 1px;
    border-radius: 10px;
    height: 60%;
    width: 20%;
    justify-content: center;
    margin-left: 1rem;
    border: 1px solid #000;
    font-weight: bold;
}

.time {
    width: 90%;
    background: #001232;
    justify-content: center;
    margin: 1rem 0rem 2rem;
    display: flex;
    justify-content: left;
}

.item {
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.list-time {
    display: flex;
    justify-content: left;
}

.theater-name {
    font-size: 1.5rem;
}

.showtime {
    background: none;
    width: 80%;
    margin-top: 1rem;
    border: 1px solid #000;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.showtime p {
    font-weight: bold;
    color: white;
}

.btncalendar:hover, .btncinema-complex:hover, .btncategory:hover, .showtime:hover {
    background: #31d7a9;
}