.main-page-header {
    height: 0 !important;
    margin-top: -150px !important;
}

.event-facility {
    margin-bottom: -400px;
}

.info {
    margin: 20px 0px;
}

input[type=text] {
    background: #032055;
    color: #fff;
}

.check-group {
    align-items: center;
}

.payment-card-form .custom-button {
    margin-top: 30px;
}

.form-address {
    width: 100% !important;
}

.booking-summery {
    height: 360px !important;
}

.info-total {
    margin-bottom: 30px;
}

.info-total span {
    color: aqua;
    font-size: 24px;
    font-weight: 800;
}

button[disabled], html input[disabled] {
    padding-left: 10px !important;
    background-color: #041941 !important;
}