.footer-section {
    border-top: 2px solid #0c1c2c;
    overflow: hidden;
    width: 100%;
    position: relative !important;
    display: block !important;
    height: 70px !important;
    margin-top: 100% !important;
}