.date_picker {
    background-color: #1d8cf8;
    border: 1px solid #1d8cf8;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

.row_header {
    margin-bottom: 20px;
}

.dropdown {
    margin-top: 0px;
}

.date_picker_CGUD {
    background-color: transparent;
    border: 1px solid #32325d;
    height: 30px;
    font-size: 12px;
    padding: 18px 10px;
    border-radius: 7px;
    outline: none;
    color: #6c757d;
}

#TabPane {
    cursor: pointer;
    background-color: transparent;
}

.input_size {
    display: flex;
    flex-direction: row;
}

#size_select {
    border-left: none;
    border-radius: 0 5px 5px 0px;
}

#size_disabled {
    border-radius: 5px 0px 0px 5px;
}

.text-total {
    margin-top: 6px;
}

.poster_movie {
    width: 120px;
    height: 160px;
    object-fit: cover;
}

.content {
    height: 670px;
}

.content .row_header {
    height: 10%;
}

.content .row_chart {
    height: 80%;
}

.content .row_chart .card-chart {
    height: 94%;
}

.content .row_chart .card-chart .chart-area {
    height: 400px;
}

.icon-simple-remove {
    cursor: pointer;
}

.icon-simple-remove:hover {
    color: #e14eca;
}

.css-zk88xw-singleValue {
    color: #e9ecef !important;
}

.css-b8ldur-Input {
    color: #e9ecef !important;
}

.select__multi-value__remove:hover {
    background-color: #e14eca !important;
}

#disabled {
    cursor: not-allowed;
    pointer-events: none;
    /*Button disabled - CSS color class*/
    background-color: #1d253b;
}

.btn-group {
    margin-left: 0px !important;
}