.list-seat {
    margin-left: 80px;
}

.single-seat {
    width: 62px;
}

.seat-plan-section {
    padding-top: 50px !important;
    margin-top: 100px !important;
}

.item-book {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.book-info {
    padding-left: 5px;
}

.item-right {
    text-align: right;
}

.seat-line {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
}

.details-banner {
    margin-top: -100px !important;
}