.slick-slide img {
  width: 100% !important;
  height: 480px;
  object-fit: cover !important;
  justify-content: center !important;
  margin: 0 auto;
}

.slick-dots {
  margin-bottom: 20px !important;
}

.slick-dots li.slick-active button:before {
  background-color: #31d7a9;
}

.slick-arrow:hover {
  color: #31d7a9 !important;
}
.movie-section {
  margin-top: 50px;
}
.container {
  width: 90%;
  margin: auto;
}
